* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

nav, header, section, footer {
    border: 2px solid black;
}

header, section {
    height: 800px;
}

footer {
    height: 200px;
}